.Landing {
    padding-top: 2rem;
    width: 40%;
    margin: 0 auto;

    & .Button-group {
        width: 50%;
        margin: 0 auto 2rem;
    }
    
    &-title {
        font-size: 2rem;
        text-align: center;
        margin-bottom: 2rem;
    } 
}