.TodoList {
    min-width: 400px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .5);
    &-items {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        flex-direction: column;
    }
    & h2 {
        font-size: 1.7rem;
        background: $brown;
        align-items: center;
        color: whitesmoke;
        display: flex;
        padding: .5rem 1rem;
        font-weight: lighter;
        justify-content: space-between;
        & svg {
            height: 2rem;
            width: 2rem;
            fill: whitesmoke;
            transition: fill .2s;
            &:hover {
                fill: orangered;
                cursor: pointer;
            }
        }
    }
    & .button {
        align-self: flex-start;
        margin: .5rem 0;
    }
}