.slide-enter {
    opacity: 0;
    transform: translateY(-100%)
}

.slide-enter-active {
    transform: translateY(0);
    opacity: 1;
    transition: all .3s;
}

.slide-exit-active {
    opacity: 0;
    transition: all .3s;
}