input {
    border: none;
    outline: none;
}

.InputWithButton {
    display: flex;
    justify-content: stretch;
    align-items: center;
    position: relative;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .5);
    & input {
        padding: .5rem 1rem;
        font-size: 1.3rem;
        border: none;
    }
    & button {
        background: rgb(185, 185, 185);
        color: $dark;
        padding: .5rem;
        border: none;
        transition: all .2s;
        width: 2rem;
        text-align: center;
        align-self: stretch;
        &:hover {
            background: #924ada;
            cursor: pointer;
        }
        &.processing {
            background: grey;
            color: $dark;
            cursor: wait;
        }
    }
}

.InputElement {
    position: relative;
    &:not(:last-of-type) {
        margin-bottom: 1rem;
    }
    & > input {
        background: transparent;
        display: block;
        font-size: 1.5rem;
        border: 1px solid $dark;
        color: $dark;
        padding: .5rem;
        &.active {
            border: 1px solid rgb(33, 143, 194);
        }
        &.valid {
            border: 1px solid green;
        }
        &.invalid {
            border: 1px solid salmon;
        }
    }

    &-Warning {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 100%;
        margin-left: 1rem;
        font-size: 1rem;
        color: darksalmon;
    }
}

.LabeledInput {
    font-size: 1.2rem;
    & input {
        margin-right: .5rem;
    }
}

.changeItemInput {
    width: 100%;
    margin-bottom: 1rem;
    padding: .5rem;
    background-color: darkorchid;
    border: 0;
}
